/* Cover.css  */

.Cover {
  margin: 0;
  padding: 0px;
}

.Cover img {
  width: 100%; /* Will scale the image to the parent container's width */
  height: auto; /* Will maintain the aspect ratio */
  display: block; /* Remove extra space underneath the image */
  position: relative;
}
