
.audio-file-name{
  padding: 7px;
  flex: 55%;
  margin-top: 2px;
  color: #0F1D38;
  font-size: 11px;
  background: #3AA0A0;
  height: 45px;
  justify-content: center;
  width: 100%;

}


.player {
  display: flex; /* This line is crucial for horizontal layout */
  width: 100%;
  color: #F9F7E8;
  justify-content: center;
  font-size: 15px;
  
}

.Play, .Time, .volume-control { /* Corrected class name for consistency */
  height: 48px;
  width: 60%;
  align-items: left; /* Ensure vertical center alignment */
  margin-left: 5px;
}

.Time {
  border: 2px solid #3AA0A0;
  margin-right: 5px; /* Adjust spacing between elements */
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 7px;
  padding-left: 7px; /* Added padding for visual space */
  margin: 0px;
  font-size: 12px;
}

.Play {
  
  border: 2px solid ;
  background-color: #737F3A;
  padding: 3px;
  width: 25%;
  margin-right: 5px;
  cursor: pointer; /* Suggest interaction */
}

.Play:hover {
  background-color: #535f0d; /* Change color on hover */
  
}


.svg-PLAY {
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: fill 0.5s ease;
  opacity: 0.5;
}

.svg-PLAY:hover {
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: fill 0.5s ease;
  opacity: 1;
}

.svg-PAUSE {
  background-color: transparent;
    width: 25px; /* Width of the SVG */
    height: 25px; /* Height of the SVG */
    opacity: 0.7;
    transition: fill 0.5s ease; /* Smooth transition for hover effects */
  
  }




.svg-icon {
  background-color:transparent;
  width: 30px; /* Width of the SVG */
  height: 30px; /* Height of the SVG */
  transition: fill 0.3s ease; /* Smooth transition for hover effects */
}






.Back {
  border: 1px solid #626154; 
  width: 20%;
  margin-left: 5px;
  padding: 3px;
  cursor: pointer;
  transition: fill 0.5s ease; /* Smooth transition for hover effects */
}

.Back:hover {
  border: 1px solid #626154;
  background-color: #065A82;  
  width: 20%;
  margin-left: 5px;
  padding: 3px;
  cursor: pointer;
}

.Next {
  border: 1px solid #626154;  
  width: 20%;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.Next:hover {
  border: 1px solid #626154;
  background-color: #065A82;
  width: 20%;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.volume-control {
  display: flex; /* Ensures flex properties apply */
  align-items: center; /* Align the slider within this control */
  margin-left: 10px; /* Space out from preceding elements */
  width: 100%; /* Control the max width of your volume slider */  
}

.volume-slider {

  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  height: 5px;
  background: #0F1D38;
  outline: none;
  opacity: 0.5;
  transition: opacity .3s;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #3AA0A0;
  cursor: pointer;
}

.seek-control {
  display: flex; /* Ensures flex properties apply */
  justify-content: center;
  align-items: center; /* Align the slider within this control */
  margin-left: 10px; /* Space out from preceding elements */
  width: 200%; /* Control the max width of your volume slider */
}

.seek-slider {

  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #F9F7E8;
  outline: none;
  opacity: 0.5;
  transition: opacity .3s;
}



.seek-slider:hover {
  opacity: 1;
}

.seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #3AA0A0;
  cursor: pointer;
}
