/* Base styles for the audio player */
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%; /* Maintains size but ensures everything fits */
  color: #F9F7E8;
  font-size: 14px; /* Slightly reduced for better aesthetics */
  padding: 10px 0;
  margin: auto;
}

/* Styles for the display of the audio file name */
.audio-file-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px; /* Reduced height for more space efficiency */
  margin: 5px 0;
  padding: 2px;
  color: #0F1D38;
  font-size: 10px; /* Smaller font size for a sleeker look */
  background: #3AA0A0;
}

/* Transport controls including previous, play/pause, and next buttons */
.transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 5px 5px;
}

.Back, .Next, .Play {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #626154;
  width: 40px; /* Adjusted width for better control */
  height: 40px;
  margin: 2px;
}

.Back:hover, .Next:hover, .Play:hover {
  background-color: #065A82;
}

/* Transform squares into triangle shapes using borders */
.Back {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 24px; /* Smaller triangles */
  border-color: transparent transparent transparent #2b7f8c; /* Back triangle color */
}

.Next {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 24px 14px 0; /* Smaller triangles */
  border-color: transparent #2b7f8c transparent transparent; /* Next triangle color */
  
}

/* Specific styles for play and pause icons within buttons */
.play-button, .pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96a508;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.pause-button {
  background-color: #2b7f8c;
  width: 20px; /* Ensures the pause icon is square */
  height: 20px; /* Square pause button */
}

/* Time display and seek bar */
.Time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjusted for better fit */
  height: 48px;
  border: 1px solid #3AA0A0;
  font-size: 11px;
  padding: 5px;
  margin-top: 5px;
}

/* Seek and Volume Controls */
.seek-control, .volume-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  width: 100%;
  padding: 5px 0;
}

.seek-slider, .volume-slider {
  -webkit-appearance: none;
  width: 100%; /* Full width for better usability */
  height: 10px;
  background: #0F1D38;
  outline: none;
  opacity: 0.7;
  transition: opacity .3s;
}

.seek-slider::-webkit-slider-thumb, .volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 45px;
  background: #96a508;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .player {
    width: 100%; /* Full width on smaller screens */
    flex-direction: column;
  }

  .transport, .Time, .seek-control, .volume-control {
    flex-direction: column; /* Stack controls vertically on small screens */
  }

  .Back, .Next, .Play, .seek-slider, .volume-slider {
    width: 100%; /* Adjust width to fit small screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .transport {
    justify-content: space-around;
  }

  .Time, .seek-control, .volume-control {
    width: 100%; /* Adjust width for medium screens */
  }
}
