
.app {
  display: flex;
  background-color: #FFFEF5;
  justify-content: left;
  margin-left: 5%;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.product-tile{
  background-color: #333;
  width: 100px;
  margin-right: 20px;
  position: relative;
}
.product-name{
  color: #FFFFFA;
  font-weight: 100;
  text-align: center;
  
}

.product-price {
  color: #ccc;
  text-align: center;


}

.product-list {
  border: 3px solid #ccc;

  padding: 20px;
  width: 20%;
  margin-right: 20px;
}

.product-item {
  background: #000;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-product {
  border: 1px solid #fff;
  background-color: #000;
  color: #ccc;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  
}

.add-product:hover {
  background-color: #CEDDC2;
  color: #000;

}


.modify-product {
  border: 1px solid #fff;
  background-color: #000;
  color: #ccc;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  
}

.modify-product:hover {
  background-color: #A32E0A;

}





.cart {
  width: 300px;
  background-color: #1E1E1E;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start
}

.cart-title {
  color: #FCFBF2;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: right;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background: #333;
  color: #fff;
}

.item-price {
color: #CEDDC2;
}

.cart-item button {
  border: 2px solid #CEDDC2;
  background: #706F6C;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item button:hover {
  background: #5A5956; /* Darker shade on hover */
  color: #CEDDC2;
}


.cart-item span {
  flex:1;
}

.total {
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: right;
  margin-top: auto;
}
.total-box {
  background-color: #FFFADF;
  text-align: center;
  width: 75px;
  height: 75px;
  
}