/* Cover.css  */

.Cover img {
  padding-top: 15px;
  padding-right: 15px;
  width: 100%; /* Sets the image width to fill the container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes extra space underneath the image */
  transform: scale(1); /* Scales the image to 80% of its size */
  transform-origin: center; /* Ensures the image scales from its center */
}
