/* Credit.css */

.CreditContent {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid gray;
  color: #E0ECED;
  flex: 1; /* This allows the box to grow and shrink as needed */
  overflow: auto; /* Adds a scrollbar if content overflows */
}