/* Description.css */

.DescriptionContent {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 5px;
  border-bottom: 1px solid #0F1D38;
  color: #bdc2c6;
 
  flex: 1; /* This allows the box to grow and shrink as needed */
  overflow: auto; /* Adds a scrollbar if content overflows */
}
