/* InfoContainer.css  */

.InfoContainer {
  flex: 20%;
  flex-direction: column;
  margin-left: 1px;
  margin-bottom: 20px;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 20px;
  width:100;
  
}