/* InfoContainer.css  */

.InfoContainer {
  flex: 30%;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 20px;
  padding-top: 5px;
  width:100;
  
}