/* SongList.css  */

.SongList {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the end of the container */
  flex: 25%;
  margin-left: 1px;
  
  color: #E0ECED;
  padding: 5px;
  padding-bottom: 25px;
  font-size: 15px;
  height: 100%; /* Ensure it has a height to allow flex-end to work */
}
