/* Song.css - Updated with a blue hover effect for image */

.Song {
  display: flex;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 5px;
  margin: 5px;
  width: 100%;
  max-height: 55px;
  justify-content: space-between;
  align-items: center;
}

.Song img {
  margin-left: auto;
  height: 60%;
 
}