

.tab-content {  
  
  padding: 2px; /* Add padding around the content */
  height: 100vh; /* Subtract the footer's height from the viewport height */
  box-sizing: border-box; /* Ensures padding and border are included in the height calculation */
}

.ArtBlock {
  display: flex;
  flex-direction: row; /* Align album details in a column, not row */
  width: 100%; /* Take full width of the parent */
  height: 100%; /* Make sure ArtBlock takes the full height of its parent */
  justify-content: flex-start; /* Align content to the start on the main axis */
}

/* Additional styles for AlbumTitle, Cover, and SongList to adjust their specific layout may be needed */
