

.tab-content {  
  border: 1px solid gray;
  padding: 2px; /* Add padding around the content */
  background-color: blueviolet;
}

.ArtBlock {
  display: flex;
  flex-direction: row; /* Align album details in a column */
  width: 100%; /* Half the width of the parent */
  justify-content: flex-start; /* Align content to the start on the main axis */
}

/* Additional styles for AlbumTitle, Cover, and SongList to adjust their specific layout may be needed */
