/* FilmPage.css */

.FilmContent {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.FilmTitle {
  border: 1px solid gray;
  color: #E0ECED;
  padding: 5px;
  align-self: flex-start;
  margin-right: 10px;
}

/* Container for both film elements */
.FilmContainers {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns items at the start of the container */
  flex-wrap: wrap; /* Allows containers to wrap on smaller screens */
  padding-bottom: 50px;
  margin-bottom: 20px;


}
.FilmContainer1, .FilmContainer2 {
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  color: #E0ECED;
  margin: 5px; /* Adjust margins as needed for spacing */
  box-sizing: border-box; /* Includes padding and border in the element's total width */
  position: relative;
  width: calc(50% - 20px); /* Smaller width - adjusted for margin */
  padding-top: calc(28.125% - 10px); /* Smaller height - maintain aspect ratio */
  height: 0; /* Height is zero to maintain the aspect ratio */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Removes iframe border */
}

@media (min-width: 320px) and (max-width: 768px) {
  .FilmContainers {
    flex-direction: column;
    align-items: stretch; /* This will make each child container stretch to fit the container's width */
  }

  .FilmContainer1, .FilmContainer2 {
    width: calc(100% - 10px); /* Take full width minus some margin for aesthetics */
    padding-top: 56.25%; /* This percentage maintains a 16:9 aspect ratio */
    margin: 5px;
    box-sizing: border-box;
  }
}


/* Media Query for iPhone12/13-------------------->>>>>>>>>>>>>>>>>>>> [LANDSCAPE] Mode */

@media only screen 
and (min-device-width: 390px) 
and (max-device-width: 844px) 
and (orientation: landscape) 
and (-webkit-device-pixel-ratio: 3) {

  .FilmContainers {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  
  .FilmContainer1, .FilmContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #E0ECED;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    width: calc(60% - 20px); /* Increased width */
    padding-top: calc(33.75% - 10px); /* Increased padding-top for height adjustment */
    height: 0;
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }


.FilmContainer2 {
  padding-bottom: 60px;
}









}









