/* AdminPage.css */
.user-header {
  border-bottom: 1px solid gray;
  /* Other styles as needed */
}

.userContent {
  display: flex;
  justify-content: flex-end; 
  padding-right: 10px; 
  padding-top: 10px;
  border-top: 1px solid gray;
  
}

.userTitle {
  border: 1px solid gray;
  color: #E0ECED;
  padding: 5px;
  align-self: flex-start; 
  margin-right: 10px; 
}
