.shopPage {
  color: #E0ECED;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  margin-top: 15px;
  padding-bottom: 300px;
}

.shopContent {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  margin-top: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

.shopContainer {
  display: flex;
  flex-wrap: wrap; 
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 15px;
  flex: 3;
  margin-top: 10px; 
  margin-left: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  box-sizing: border-box;
  margin-left: 7px;
  margin-bottom: 10px;
}

.product-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.product-cover {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 2px;
}

.product-cover img {
  width: 100%;
  height: auto;
}

.product-name {
  border-bottom: 1px solid gray;
  background-color: transparent;
  color: #f7fde1;
  padding: 2px;
  margin: 0px;
  margin-top: 6px;
  margin-left: 10px;
  text-align: left;
  font-weight: lighter;
  font-size: 14px;
}

.product-catalogue {
  background-color: transparent;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 7px;

  color: #96a508;

}

.product-price {

  margin: 0px;
  background-color: transparent;
  color: #2b7f8c;
  font-size: 15px;
}

.price-addCart {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: top;
  margin-top: 10px;
  margin-left: 7px;
}

.add-to-cart {
  border: 1px solid #2b7f8c;
  color: #065A82;
  padding: 8px;
  margin-left: 10px;
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #96a508;
  color: #1E1E1E;
}

.cart {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #065A82;
  
  justify-content: flex-start;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 70px;
  padding: 20px;
  min-width: 400px;
  max-height: 800px; 
  
  flex: .4 ;
  flex-basis: .5;
}

.cart-title {
  color: #2b7f8c;
  font-size: 14px;
  font-weight: light;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 15px;
  color: #96a508;
}

.item-name {
  flex-wrap: wrap;
}

.item-price {
  margin-left: 5px;
}

.remove-item {
  width: 20px;
  height: 20px;
  border: 1px solid #890E0E;
  color: #1E1E1E;
}
.remove-item:hover {
  background-color: #57030a;
  color: #1E1E1E;
}

.total {
  padding: 3px;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #0F1D38;
  margin-bottom: 15px;

}

.total-text {

margin: 0px;
color: #C4E4E8;
font-size: 16px;
font-weight: lighter;
}



.PayButton {
  color: #fff;
  background-color: #0aaac3; /* Vibrant color for the button */
  border: none; /* Removing the border for a cleaner look */
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  font-size: 18px;
  font-weight: lighter;
  border-radius: 2px; /* Rounded corners for the button */
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover effect */

}
.PayButton:hover {
  background-color: #96a508;
  color: #1E1E1E;


}

.PaymentForm {
  display: flex;
  flex-direction: column;
  background-color: #0F1D38;
  padding: 15px;
  border-radius: 2px; /* Rounded corners for the form */
  min-height: 100px;
  margin-top: 20px;
  
}

.StripeElement {
  background-color: #083D5E;
  padding: 16px;
  border-radius: 3px;
  border: 3px solid #0aaac3; /* Border color  d9e0cd    match button */
  margin-top: 5px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;

}

.StripeElement > div {

  display: flex;
  flex-direction: column;
}




/*--------------------------------RESSPONSIVE------working below----------------------------------- /*

 Media Query for iPhone14MAX-------------------->>>>>>>>>>>>>>>>>>>> [PORTRAIT] Mode */

@media only screen 
and (min-device-width: 430px) 
and (max-device-width: 932px) 
and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 15px;
    flex: 3;
    margin-top: 25px; 
    margin-left: 5px;
    margin-right: 0px;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #065A82;
}








/* Media Query for iPhone14MAX-------------------->>>>>>>>>>>>>>>>>>>> [LANDSCAPE] Mode */

@media only screen 
and (min-device-width: 430px) 
and (max-device-width: 932px) 
and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); 
    gap: 15px;
    flex: 3;
    margin-top: 25px; 
    margin-left: 45px;
    margin-right: 0px;
  }
}

/* Media Query for iPhone12/13-------------------->>>>>>>>>>>>>>>>>>>> [PORTRAIT] Mode */

@media only screen 
and (min-device-width: 390px) 
and (max-device-width: 844px) 
and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {


  .product-list {
   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 2px;
    flex: 2;
    margin-top: 25px; 
    margin-left: 0px;
    margin-right: 5px;
   
  }

  .cart {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #065A82;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    min-width: 400px;
    max-height: 800px; 
    
    flex: .4 ;
    flex-basis: .5;
  }

  .PaymentForm {
    display: flex;
    flex-direction: column;
    background-color: #0F1D38;
    padding: 15px;
    border-radius: 2px; /* Rounded corners for the form */
    min-height: 100px;
    margin-top: 20px;
    margin-left: 30px;
    
  }


  .StripeElement {
    background-color: #083D5E;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #0aaac3; /* Border color  d9e0cd    match button */
    margin-top: 5px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  
  }
  
  .StripeElement > div {
    display: flex;
    flex-direction: column;
  }





}
/* Media Query for iPhone12/13-------------------->>>>>>>>>>>>>>>>>>>> [LANDSCAPE] Mode */
@media only screen 
and (min-device-width: 390px) 
and (max-device-width: 844px) 
and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 5px;
    flex: 3;
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 25px;
  }

}