/* ShopPage.css */
.header-minimal {
  border-bottom: 1px solid gray;
  /* Other styles as needed */
}

.shopContent {
  display: flex;
  justify-content: flex-start; 
  padding-right: 10px; 
  padding-top: 10px;
  border-top: 1px solid gray;
  
}

.shopTitle {
  justify-content: flex-end;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 5px;
  align-self: flex-start; 
  margin-right: 10px; 
  
}
