/* Admin.css  */

.Admin {
  flex-basis: 15%;
  border: 1px solid gray;
  color: gray;
  padding: 5px;
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
  
}

.Admin:hover {
  background-color: #065A82; /* Darker background on hover */
}
