/* Downloads.css  */

.Downloads {
  flex-basis: 4%;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 3px;
  margin: 2px;
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
  
}

.Downloads:hover {
  background-color: #065A82; /* Darker background on hover */
}


.svg-icon {
  fill: #3AA0A0; /* SVG color */
  width: 20px; /* Width of the SVG */
  height: 20px; /* Height of the SVG */
  transition: fill 0.3s ease; /* Smooth transition for hover effects */
}

.svg-icon:hover {
  fill: #F9F7E8; /* Change color on hover */
}