/* User.css  */

.Film {
  flex-basis: 10%;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 3px;
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
  
}

.Film:hover {
  background-color: #065A82; /* Darker background on hover */
}


@media (max-width: 1920px) and (min-width: 480px) {
  .Film {
  flex-basis: 4%;
  height: 1vh;
}

}

