/* Base styles for the App Container */
.AppContainer {
  display: flex;
  flex-direction: row;
}

/* Base styles for Footer */
.Footer {
  position: fixed;
  left: 0px;
  /* Set to 0px to align properly at the left edge */
  bottom: 0px;
  /* Set to 0px to align properly at the bottom */
  width: 88%;
  /* Full width for better responsiveness */
  height: 6.5vh;
  /* Maintain original height for large screens */
  padding: 5px;
  padding-bottom: 5px;
  background-color: #083D5E;
  color: #FFF;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Style adjustments for the divs inside the Footer */
.Footer>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  height: 100%;
  margin: 3px;
  padding: 5px;
}



/* Responsive styles for medium devices (tablets) */
@media (max-width: 1023px) and (min-width: 769px) {
  .Footer {
    height: 10vh;
    /* Slightly increase height for medium screens */
    padding-bottom: 10px;
  }

  .Footer>div {
    flex-direction: row;
    /* Stack children vertically */
  }
}







/* Responsive styles for small devices (mobiles) */
@media (max-width: 768px) {
  .Footer {
    height: 10vh;
    /* Further increase height for small screens */
    padding: 10px;
  }

  .Footer>div {
    padding: 12px;
    /* Reduce padding for smaller div elements */
  }
}


@media (min-width: 390px)and (max-width: 768px) {

  Footer {
    
    height: 10vh;
    /* Further increase height for small screens */
    padding: 30px;
  }

  .Footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    height: 100%;
    margin: 3px;
    padding: 5px;
  }

}

@media (min-width: 290px)and (max-width: 390px) {

  Footer {
    
    min-height: 7h;
    /* Further increase height for small screens */
    padding: 30px;
  }



}