/* Base styles for the App Container */

/* Base styles for Footer */
.Footer {
  
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 88%;
  height: 11vh;
  padding: 5px;
  padding-bottom: 30px;
  background-color: #083D5E;
  color: #FFF;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Footer>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 3px;
  padding: 5px;
}

/* Media Query for iPhone12/13-------------------->>>>>>>>>>>>>>>>>>>> [LANDSCAPE] Mode */

@media only screen 
and (min-device-width: 390px) 
and (max-device-width: 844px) 
and (orientation: landscape) 
and (-webkit-device-pixel-ratio: 3) {

  .Footer {
    justify-content: left;
    
    position: fixed;
    min-height: 85px;
    max-width: 860px;
    padding: 10px;
    margin-left: 0px;
  }

  .Footer>div {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin: 3px;
    padding: 5px;
  }
}


@media (min-width: 769px) and   (max-width: 1023px) {
  .Footer {
    
    height: 12vh;
    padding-top: 15px;
    padding-bottom: 39px;
  }

  .Footer>div {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .Footer {
    
    
    height: 12vh;
    padding-bottom: 25px;
  }

  .Footer>div {
    padding: 12px;
  }
}

  @media only screen and (min-device-width: 390px) 
  and (max-device-width: 844px) and (orientation: portrait) 
  and (-webkit-device-pixel-ratio: 3) {

  Footer {
    
    position: fixed;
    min-height: 40px;
    padding: 30px;
    max-width: 300px;
    margin-bottom: 0px;
  }

  .Footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 3px;
    padding: 5px;
  }

}
/* Media Query for iPhone12/13 mini-------------------->>>>>>>>>>>>>>>>>>>> [PORTRAIT] Mode */


@media (min-width: 290px)and (max-width: 389px) {

  Footer {
    
    max-height: 148px;
    max-width: 300px;
    padding: 30px;
  }
}