/* Queue.css */

.Queue {
  flex-basis: 35%;
  border-top: 2px solid #0F1D38;
  color: #E0ECED;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Updated to transition all properties smoothly */
  overflow: hidden; /* Keeps the content from spilling out */
  max-height: 50px; /* Initial max-height, adjust based on your needs */
}

.Queue.expanded {
  max-height: 850px; /* Increased max-height when expanded */
  flex-basis: 100%; /* Optional: Takes more space when expanded */
}

.Queue:hover {
  background-color: #065A82;
}

.QueueItems {
  padding-top: 3px;
  padding-right: 15px; /* Corrected padding-right */
  padding-left: 15px;
  background-color: transparent;
  /*background-color: #073C5A; /* Slightly different background for items */
}

.QueueItem {
  background-color: transparent;
  border-bottom: 1px solid #0D5875;
  padding: 1px;
  margin-bottom: 3px;
  color: #E0ECED;
  font-size: 12px;
}

.highlight {
  color: #3AA0A0; /* Highlight color for the currently playing song */
}
