/* Shop.css  */

.Shop {
  flex-basis: 15%;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 5px;
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
  
}

.Shop:hover {
  background-color: #065A82; /* Darker background on hover */
}
