/* ArtistReleases.css */

.artists-releases {
  display: flex; /* Establishes a flex container */
  justify-content: space-between; /* Positions children with space between them */
  align-items: center; /* Vertically centers children */
  flex: 1;
  border: 1px solid gray;
  margin-left: 2px;
  color: #E0ECED;
  padding: 10px;
  height: 100%; /* Will fill the height of its parent (.header) */
}

/* If you have other content inside .artists-releases that you want to keep on the left, 
add flex: 1 to it, and it will push .EPK to the right */

.content-left {
  flex: 1;
}

