/* Brand.css */

.brand {
  flex: 2;
  display: flex;
  align-items: center; /* This ensures vertical centering within the brand div */
}

.brand img {
  background-color: #083D5E;
  width: 400px; /* Adjust as needed */
  height: auto;
  padding: 7px;
  margin: 0;
}

