.Gallery_Display {
  margin: 20px;


}


.tab-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  background-color: white;
}

.tab-list-item {
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: black;
}

.tab-list-item:hover {
  background-color: #ddd;
}

.tab-list-active {
  background-color: #fff;
  border-color: #cccccc;
  border-bottom: 2px solid #fff;
  top: 1px;
}

.tab-content {
  border: 1px solid #ccc;
  margin-left: 10px;
  width: 50%;
  padding: 10px;
  background-color: #fff;
  height: 500px;
}