/* Footer.css */

.Footer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px;
  background-color: #083D5E; /* Match header color or any color you prefer */
  color: #FFF; /* Adjust text color for better contrast */
  border-top: 2px solid #FFF; /* Optional: adds a defining top border */
}

.Footer > div {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 5px;
}