/* Header/Brand.css */

.brand {
  background-color: #083D5E;
  margin-top: 25px;
  margin: 15px;
  padding-top: 5px;
  flex: 2;
  display: flex;
  align-items: center;
  /* This ensures vertical centering within the brand div */
   /*background-color: #083D5E;*/

}

.brand img {
  background-color: #083D5E;
  width: 220px;
  /* Adjust as needed */
  height: auto;
  padding-top: 25px;
  margin-top: 25px;
  margin-left: 10px;

}