/* Header/Brand.css */

.brand {
  margin: 15px;
  flex: 2;
  display: flex;
  align-items: center; /* This ensures vertical centering within the brand div */
  background-color: #083D5E;
  
}

.brand img {
  background-color: #083D5E;
  width: 220px; /* Adjust as needed */
  height: auto;
 
  margin: 0;
  
}

