/* header/Contact.css*/

.Contact {
  min-height: 30px;
  flex: .2;
  border: 1px solid grey;
  margin-top: 75px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 18px;

  text-decoration: none;
  color: #E0ECED;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.contact-link {
  color: #E0ECED;
  text-decoration: none;
  padding: 1px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #3AA0A0;
  text-decoration: underline;
}

@media only screen and (min-device-width: 390px) 
and (max-device-width: 844px) 
and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

  .Contact {
    min-height: 30px;
    flex: .2;
    border: 1px solid gray;
    margin-top: 75px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 0px;
    text-decoration: none;
    color: #E0ECED;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {

    .Contact {
      min-height: 30px;
      flex: .2;
      border: 2px solid #0F1D38;
      margin-top: 25px;
      margin-bottom: 5px;
      margin-left: 0px;
      text-decoration: none;
      color: #E0ECED;
      padding: 2px;
      justify-content: center;
      align-items: center;
    }
  }
}