/* header/Contact.css*/

.Contact {
  min-height: 50px;
  flex: .2;
  border-left: 2px solid #0F1D38;
  margin-top: 85px;
  margin-bottom: 5px;
  margin-left: 2px;
  text-decoration: none;
  color: #E0ECED;
  padding: 5px;
  
  justify-content: center;
  align-items: center;
}

.contact-link {
  color: #E0ECED; /* Matches the text color of your navigation */
  text-decoration: none; /* Initially, no underline */
  padding: 5px; /* Adjust padding as needed to match other nav items */
  cursor: pointer; /* Indicates it's clickable */
  transition: color 0.3s ease; /* Smooth transition for the color */
}

.contact-link:hover {
  color: #3AA0A0; /* Lighter blue on hover, adjust this color as needed */
  text-decoration: underline; /* Adds underline on hover */
}

  @media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

    .Contact {
      min-height: 30px;
      flex: .2;
      border-left: 2px solid #0F1D38;
      margin-top: 95px;
      margin-bottom: 0px;
      margin-left: 2px;
      text-decoration: none;
      color: #E0ECED;
      padding: 5px;
      
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {

    .Contact {
      min-height: 30px;
      flex: .2;
      border-left: 2px solid #0F1D38;
      margin-top: 35px;
      margin-bottom: 10px;
      margin-left: 2px;
      text-decoration: none;
      color: #E0ECED;
      padding: 5px;
      
      justify-content: center;
      align-items: center;
    }
  }
