/* Film.css  */

.Film {

  min-height: 30px;
  min-width: 60px;
  border: 1px solid gray;
  color: #E0ECED;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-top: 0px;

  justify-content: center;
  align-items: center;

}

.Film:hover {
  background-color: #065A82;

}





@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {

  .Film {

    min-height: 30px;
    min-width: 60px;
    border: 1px solid gray;
    color: #E0ECED;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    margin-left: 10px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 769px)and(max-width: 1024px) {

  .Film {
    flex-basis: 1%;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

  .Film {
    flex-basis: .2;
    background-color: #083D5E;
    margin-top: 0px;
    margin-right: 0px;
    min-width: 60px;
    min-height: 30px;


  }
}

@media (min-width: 290px)and (max-width: 480px) {

  .Film {
    margin-top: 20px;
    width: 40px;
    max-height: 30px;


  }
}