/* Header/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #083D5E;
  margin: 10px;
  margin-bottom: 30px;
  height: 70px;
}



.ContactFilmShopContainer {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;

}

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {




  .ContactFilmShopContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;

  }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {




  .ContactFilmShopContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

  }
}