/* ContactPage.css */
.ContactContent {
  display: flex;
  flex-direction: column;
  padding: 1px;
  background: transparent; /* Background color for the whole contact content area */
}

.MasterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equally divided columns for desktop */
  grid-gap: 10px;
  padding: 2px;
  background-color:transparent;
}

@media (max-width: 768px) {
  .MasterContainer {
    grid-template-columns: 1fr; /* Stack the containers on top of each other on mobile */
  }
}

.Container1,
.Container2,
.Container3 {
  border: 2px solid #065A82;
  padding: 5px;
  
}

.Picture {
  width: 100%; /* Full width of the container */
  height: 100px; /* Fixed height, adjust as needed */
  /* Ensure no background image is set here */
}

.Info1, .Info2 {
  padding: 1px;
  color: #333; /* Dark text color for readability */
}

.FormField-name, .FormField-email, .FormField-date, .FormField-formContent {

  margin: 7px;
}

.FormField {
  margin: 1px 0;
}



.nameInput {
margin-top: 3px;

}



label {
  margin-left: 1px;
  margin-bottom: 6px;
  
}

input, textarea {
  width: calc(100% - 22px); /* Full width minus padding */
  padding: 5px;
  color: #96a508;
  font-size: 15px;
  font-weight: lighter;
  border: 1px solid #2b7f8c;
}

#content {
  background-color: #0F1D38; /* Dark blue background for content textarea */
  color: #F9F7E8; /* White text color for readability */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
}


.submit {
  margin-left: 8px;
  margin-bottom: 8px;
  padding: 10px 20px;
  background-color: #96a508; /* Green background for the submit button */
  color: #F9F7E8;
  border: none;
  cursor: pointer;
}
.submit:hover {
  background-color: #065A82;
  transition: all 0.4s ease;
}