.ContactContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  padding-top: 10px;
  padding-right: 10px;
  
}

.ContactTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid gray;
  color: #E0ECED;
  background-color: #20232A;
  padding: 5px;
  
  margin-right: 10px;
  margin-bottom: 20px;
}

.ContactDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  color: #3AA0A0;
  background-color: #E0ECED;
  line-height: 1.6;
  min-height: 190px;
}

.Column1,
.Column2 {
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Media Query for iPhone 12/13 in [LANDSCAPE]*/
@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {

  .ContactTitle {
    display: none;
  }

  .ContactDetails {
    justify-content: center;
    min-height: 130px;
    padding-top: 5px;
  }
}

.Column1 {
  margin-top: 0px;
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 0px;
}

.Column2 {
  
  margin-top: 15px;
  font-size: 19px;
  color: #20232A
}

/* Media Query for iPhone 12/13 in [LANDSCAPE]*/
@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

  .ContactTitle {
    display: none;
  }

  .ContactDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    padding-top: 5px;
  }
}

.Column1 {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 0px;
}

.Column2 {
  padding-top: 0px;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #20232A
}