/* main.css*/

.Main {
  display: flex;
  flex-direction: column;
  /*border: 12px solid gray;*/
  background-color: #083D5E;
  /*height: calc(100vh - 100px - 7vh); /* Adjust for the header and footer heights */
  margin-top: 20px; /* Adjust if your header has margin */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8em; /* Give some space for the fixed footer */  
  
  
}


.album-container {
  display: flex; /* Use flexbox to create a row */
  


}

.album-info {
  flex-direction: column; /* Stack title and cover vertically */
  margin-top: 5px;
}

.albumTitle {
  display: flex;
  border-bottom: 1px solid gray;
  color: #E0ECED;
  padding: 7px;
  margin: 13px;
  font-weight: lighter;
  font-size: 30px;
}


@media (min-width: 290px)and (max-width: 768px) {

  .Main {
    display: flex;
    flex-direction: column;
    
    
    background-color: #083D5E;
   
    margin-top: 10px; 
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 5em; 
     
  }
  .album-container {
    display: flex; /* Use flexbox to create a row */
    flex-wrap: wrap;
  
  }









}